.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.no-js .inputfile + label {
    display: none;
}
.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}
.inputfile-2 + label:hover {
    color: #bb0000;
}