@font-face {
  font-family: 'simple-line-icons';
  src: url('../fonts/Simple-Line-Icons.eot?v=2.3.2');
  src: url('../fonts/Simple-Line-Icons.eot?v=2.3.2#iefix') format('embedded-opentype'), url('../fonts/Simple-Line-Icons.woff2?v=2.3.2') format('woff2'), url('../fonts/Simple-Line-Icons.ttf?v=2.3.2') format('truetype'), url('../fonts/Simple-Line-Icons.woff?v=2.3.2') format('woff'), url('../fonts/Simple-Line-Icons.svg?v=2.3.2#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 Use the following CSS code if you want to have a class per icon.
 Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower:
*/
.icon-speedometer,
.icon-screen-tablet,
.icon-control-play,
.icon-bell {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-speedometer:before {
  content: "\e007";
}
.icon-screen-tablet:before {
  content: "\e00f";
}
.icon-control-play:before {
  content: "\e071";
}
.icon-bell:before {
  content: "\e027";
}